features/.vscode

fetchjson/node_modules/*
fetchjson/.vscode/*

maps/node_modules/*
maps/.cache/*
maps/dist/*

sort/node_modules/*
sort/build/*

stats/node_modules

web/.cache
web/dist
web/node_modules
.DS_Store

server/build/**
server/node_modules
features/node_modules